<div id="footer-one" class="row">
  <div id="short-tidbit" class="small-12 medium-3 large-3 columns">
    <h3>SHORT TIDBIT</h3>
    <P>Vivamus tempor ac arcu nec faucibus. Nunc a lacinia tellus. Nullam mauris ligula, semper sed massa vel, malesuada accumsan dolor.</p>
    <p>Pellentesque lacinia dictum ligula. Nam cursus nulla lectus, ut porttitor ante ullamcorper quis. </P>
  </div>
  <div id="elsewhere" class="small-12 medium-3 large-3 columns">
    <h3>ELSEWHERE</h3>
    <a href="" target="_blank"><div class="icon"></div></a>
    <a href="" target="_blank"><div class="icon"></div></a>
    <a href="" target="_blank"><div class="icon"></div></a>
    <a href="" target="_blank"><div class="icon"></div></a>
  </div>
  <div id="site-nav" class="small-12 medium-3 large-3 columns">
    <h3>SITE NAV</h3>
    <ul>
      <li><a href="">PHOTOGRAPHY</a></li>
      <li><a href="">BRANDING</a></li>
      <li><a href="">PRODUCTIVITY</a></li>
      <li><a href="">ILLUSTRATION</a></li>
    </ul>
  </div>
  <div id="recent-posts" class="small-12 medium-3 large-3 columns">
    <h3>RECENT POSTS</h3>
    <ul>
      <li><a href="">DOTA DOODLES</a></li>
      <li><a href="">PHOTOGRAPHY ROAD TRIP</a></li>
      <li><a href="">MORGAN'S DEBUT</a></li>
    </ul>
  </div>
</div>

<div id="footer-two" class="row">
  <div class="small-12 small-centered columns clearfix">
    <p id="copyright">COPYRIGHT 2014 EVA SHTERN</p>
    <ul id="site-links">
      <li><a href="index.html">HOME</a></li>
      <li><a href="">BLOG</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="about.html">ABOUT</a></li>
    </ul>
  </div>
</div>