<div id="pre-header" class="row">
  <div class="small-12 columns"></div>
</div>

<div id="header" class="row">
  <div class="small-12 columns">
    <div class="logo">
      <a href="index.html">
      <div class="icon"></div>
      <div class="name-and-title">
        <p class="name">EVA SHTERN</p>
        <p class="title">DIGITAL MEDIA DESIGNER</p>
      </div>
      </a>
    </div>
    <ul class="page-links">
      <li>
        <a href="index.html">
          <p class="title">HOME</p>
          <p class="desc">The Front Page</p>
        </a>
      </li>
      <li>
        <a href="portfolio.html">
          <p class="title">PORTFOLIO</p>
          <p class="desc">Check out my work</p>
        </a>
      </li>
      <li>
        <a href="about.html">
          <p class="title">ABOUT</p>
          <p class="desc">Learn about the designer</p>
        </a>
      </li>
      <li>
        <a href="contact.html">
          <p class="title">CONTACT</p>
          <p class="desc">Shoot an email</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="post-header" class="row">
  <div class="small-12 small-centered columns">
    <p id="page-title">{{page.title}}</p>
    <ul id="breadcrumb">
      <li>HOME</li>
      <li>{{page.title}}</li>
    </ul>
  </div>
</div>