@mixin button($color, $active_color) {
	font-family: 'Dosis', sans-serif;
    font-weight: 600;
    background-color: $active_color;
    border: 2px solid $color;
    color: $color;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 4px;

    &:hover, &.active{
      background: $color;
      color: $active_color;
    }
}