@import 'mixins';

#pre-header {
  height: 40px;
  background-color: #383f43;
  background: url("../img/common/poly_repeating_pattern.png");
}

#header {
  background: #fff;
  padding: 0px 70px;
  .logo {
    display: inline-block;
    margin-top: 15px;

    .icon {
      float: left;
      background: url("../img/common/logo_2013_80x80.jpg");
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .name-and-title {
      float: right;
      margin-top: 4px;
      p {
        margin: 0;
      }

      .name {
        font-family: 'Arvo', sans-serif;
        font-weight: 700;
        color: black;
      }

      .title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        color: #8c9295;
        font-size: 0.7rem;
      }
    }
  }
  .page-links {
    list-style: none;
    margin: 0;
    float: right;
    li {
      display: inline-block;
      padding: 20px 10px;
      padding-bottom: 14px;
      border-bottom: 6px solid #fff;
      &:hover {
        background: #eff4f7;
        border-bottom: 6px solid #1a6c81;
        cursor: pointer;
      }
      p {
        margin: 0;
        text-align: center;
      }
      .title {
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: black;
      }
      .desc {
        font-family: 'Dosis', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #777777;
      }
    }
  }
}

.header-home {
  top: 40px;
  position: relative;
}

#header-image {
  position: relative;
  top: -80px;
  z-index: -01;

  #header-background {
    margin-bottom: -80px;
  }
}

#post-header {
  background-color: #383f43;
  background: url("../img/common/poly_repeating_pattern.png");
  color: #9da5aa;
  padding: 30px 70px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;

  #page-title {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    float: left;
    color: white;
    text-shadow: 1px 1px #000;
    margin: 0;
  }

  #breadcrumb {
    display: inline-block;
    list-style: none;
    margin: 0;
    font-size: 1rem;
    float: right;
    color: white;
    font-weight: 400;

    li {
      display: inline-block;
      text-shadow: 1px 1px #000;
      &:first-child {
        color: #848b8f;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }

      &:after {
        content: " / ";
      }
    }
  }
}

#introduction {
  text-align: center;
  padding: 30px 0;
  h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 0.85rem;
  }
  .button {
    @include button(#1a6c81);
  }
}

#showcase {
  background: #dfe4e7;
  padding: 50px 70px 50px 70px;

  .columns {
    background: #dfe4e7;
  }

  .container {
    background-color: white;
    padding: 15px 10px;

    .placeholder {
      padding: 0;
      background: white;
    }

    .right-box {
      display: inline-block;
      padding: 0;
      padding-left: 10px;
      background: white;

      .title {
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        margin-bottom: 15px;
      }
      .text {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        line-height: 1.1rem;
      }
    }
  }
}

#about {
  padding: 30px 70px;

  p {
    font-family: 'Ubuntu', sans-serif;
  }

  .title {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;

    &.side {
      font-weight: 500;
      color: #848b8f;
      border-bottom: 1px solid #848b8f;
      padding-bottom: 10px;
      margin-bottom: 0;
    }

    &.main {
      padding: 30px;
      padding-bottom: 0;
    }
  }

  .second {
    margin-top: 30px;

    .side {
      margin-bottom: 10px;
    }
  }

  .text {
    font-size: 0.9rem;
    color: #8c9295;

    .email {
      color: black;
    }

    &.main {
      padding: 30px;
      padding-top: 0;
    }
  }

  .icon {
    width: 55px;
    height: 55px;
    background: gray;
    border-radius: 2px;
    display: inline-block;
    margin-top: 4px;
    margin-right: 2px;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      border-bottom: 1px solid #cfd5d8;
      padding: 10px 0;
      font-size: 0.8rem;

      a {
        color: black;

        &:hover {
          color: blue;
        }
      }
    }
  }
}

#contact-form {
  padding: 30px 70px;
  input, textarea {
    background: #e9f0f4;
    border: 0;
  }

  input[type="submit"] {
    margin-top: 20px;
  }

  p {
    font-family: 'Ubuntu', sans-serif;
  }

  .title {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;

    &.side {
      color: #848b8f;
    }
  }

  .text {
    font-size: 0.9rem;
    color: #8c9295;

    .email {
      color: black;
    }
  }

  .icon {
    width: 55px;
    height: 55px;
    background: gray;
    border-radius: 2px;
    display: inline-block;
    margin-top: 4px;
    margin-right: 2px;
  }

  .button {
    @include button(#848b8f);
  }
}

#portfolio-filter {
  padding: 30px 70px;
  .button {
    @include button(#848b8f);
  }
}

#portfolio {
  padding: 0 70px;

  .project {
    position: relative;
  }

  .container {
    position: relative;
    &:hover {
      .top {
        .overlay {
          visibility: visible;
        }
      }
    }
    .top {
      position: relative;
      .overlay {
        visibility: hidden;
        position: absolute;
        top: 0;
        background: rgba(91, 99, 100, 0.8);
        width: 100%;
        height: 100%;
        text-align: center;

        .button {
          @include button(#fff);
          background: rgba(91, 99, 100, 0.4);
          position: absolute;
          top: 45%;
          left: 30%;

          &:hover {
            color: rgba(91, 99, 100, 0.4);
          }
        }
      }
    }

    .info {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
      background: #e1e6e9;
      font-family: 'Dosis', sans-serif;
      font-weight: 700;
      font-size: 0.9rem;
    }
  }
}

#project {
  padding: 30px 70px 60px 70px;

  .date {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #35bdbb;
    margin: 0;
  }

  .name {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #25292b;
  }

  .text {
    color: #8c9295;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }

  .button {
    @include button(#848b8f);
  }

  .images {
    img {
      margin-bottom: 10px;
    }
  }
}

#footer-one {
  background-color: #383f43;
  background: url("../img/common/poly_repeating_pattern.png");
  color: white;
  padding: 50px 70px 0 70px;

  h3 {
    color: #35bdbb;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #4b5053;
  }

  p {
    font-size: 12px;
  }

  .icon {
    width: 50px;
    height: 50px;
    background: gray;
    border-radius: 2px;
    display: inline-block;
    margin-top: 4px;
    margin-right: 2px;
    box-shadow: 0px 0px 2px #000;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      border-bottom: 1px dashed #4b5053;
      padding-bottom: 5px;
      margin-top: 5px;
      font-size: 0.8rem;

      a {
        color: white;

        &:hover {
          color: #aaa;
        }
      }
    }
  }
}

#footer-two {
  background-color: #383f43;
  background: url("../img/common/poly_repeating_pattern.png");
  color: #9da5aa;
  padding: 0 70px 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;

  .columns {
      border-top: 1px solid #4b5053;
      padding: 20px 0 0;
  }

  #copyright {
    display: inline-block;
    font-size: 10px;
    float: left;
  }

  #site-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    font-size: 10px;
    float: right;

    li {
      display: inline-block;
      &:last-child {
        &:after {
          content: "";
        }
      }

      &:after {
        content: " / ";
      }

      a {
        color: #9da5aa;

        &:hover {
          color: white;
        }
      }
    }
  }
}