{% include page_header.html %}
{% include header.html %}

<div id="about" class="row">
  <div class="small-8 columns">
    <div class="about-image">
      <div class="image">
        <img src="img/common/placeholder.png"></img>
      </div>
      <div class="image">
        <img src="img/common/placeholder2.png"></img>
      </div>
      <div class="image">
        <img src="img/common/placeholder3.png"></img>
      </div>
    </div>
    <p class="title main">ABOUT SECTION</p>
    <p class="text main">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt</p>
  </div>

  <div class="small-4 columns">
    <div class="row">
      <div class="small-12 columns">
        <p class="title side">I DO:</p>
        <ul class="links">
          <li><a href="http://evashtern.tumblr.com/">PHOTOGRAPHY</a></li>
          <li><a href="http://evashtern.tumblr.com/">BRANDING</a></li>
          <li><a href="http://evashtern.tumblr.com/">PRODUCTIVITY</a></li>
          <li><a href="http://evashtern.tumblr.com/">ILLUSTRATION</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns second">
        <p class="title side">ELSEWHERE</p>
        <a href="http://evashtern.tumblr.com/" target="_blank"><div class="icon"></div></a>
        <a href="http://evashtern.tumblr.com/" target="_blank"><div class="icon"></div></a>
        <a href="http://evashtern.tumblr.com/" target="_blank"><div class="icon"></div></a>
        <a href="http://evashtern.tumblr.com/" target="_blank"><div class="icon"></div></a>
        <a href="http://evashtern.tumblr.com/" target="_blank"><div class="icon"></div></a>
        <a href="http://evashtern.tumblr.com/" target="_blank"><div class="icon"></div></a>
        <a href="http://evashtern.tumblr.com/" target="_blank"><div class="icon"></div></a>
        <a href="http://evashtern.tumblr.com/" target="_blank"><div class="icon"></div></a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
{% include page_footer.html %}