{% include page_header.html %}
{% include header.html %}

<div id="contact-form" class="row">
  <div class="small-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <p class="title">STAY IN TOUCH</p>
        <p class="text">Sed varius nunc felis, eu pretium enim lacinia pulvinar. Nulla sit amet metus eget orci interdum consectetur et vel nisi. Donec cursus massa ut sem consequat vestibulum. Vestibulum feugiat bibendum sem id interdum. Donec feugiat faucibus tortor.</p>
        <p class="text">You may email me at <span class="email">evashterndesign@gmail.com</span></p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <form action="MAILTO:raunaq.rg@gmail.com" method="post" enctype="text/plain">
          <div class="row">
            <div class="large-6 columns">
              <label>Name
                <input type="text" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <label>Email
                <input type="text" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <label>Subject
                <input type="text" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Textarea Label
                <textarea rows="4"></textarea>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <input type="submit" class="button small radius" value="SEND MESSAGE"></input>
            </div>
          </div>
        </form>
        <!-- <a href="#" class="button small radius">SEND MESSAGE</a> -->
      </div>
    </div>
  </div>

  <div class="small-4 columns">
      <P class="title side">ELSEWHERE</P>
      <hr>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
  </div>
</div>

{% include footer.html %}
{% include page_footer.html %}