{% include page_header.html %}
{% include header.html %}

<div id="portfolio-filter" class="row">
  <div class="small-12 columns">
    <a href="#" id="portfolio-filter-all" class="button tiny radius active">ALL</a>
    <a href="#" id="portfolio-filter-professional" class="button tiny radius">PROFESSIONAL</a>
    <a href="#" id="portfolio-filter-personal" class="button tiny radius">PERSONAL</a>
  </div>
</div>

<div id="portfolio" class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-3">
      {% for post in site.categories.portfolio limit:9 %}
      <li class="project" data-tag="{{post.tag}}">
        <div class="container">
          <div class="top">
            <img src="img/{{post.image_folder}}/thumbnail.png"></img>
            <div class="overlay">
              <a href="{{post.url}}" class="button tiny radius">VIEW PROJECT</a>
            </div>
          </div>
          <div class="info">{{post.title}}</div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include footer.html %}
{% include page_footer.html %}
